<h1>FIRST RELEASE</h1>
<p>Welcome to Chỉnh sửa chính tả</p>
<div>
    <input type="text"></input> 
    <button class="btn btn-outline-info" type="button">Check</button>
</div>

<input type="text" disabled="true" placeholder="Result is in here...."></input> 
